<!-- this partial is to search the card -->
<section class="artistpage">
  <div class="search">
    <h1 id="logo"><a href="#"><img ng-src="images/favicon.png"></a></h1>
    <label>search: </label>
    <input ng-model="query" placeholder="Search for cards" autofocus>
   <!-- this is the searched queries -->
  </div>
  <ul class="artistlist" ng-show="query">
    <li ng-animate="'animate'" class="artist cf" ng-repeat="item in artists | filter: query | orderBy: artistOrder:direction">
      <!-- when item is selected, it will navigate to the detail partial -->
      <a href="#/details/{{artists.indexOf(item)}}">
        <img ng-src="images/{{item.shortname}}_tn.png" alt="Photo of {{item.name}}">
        <div class="info">
          <h2>{{item.name}}</h2>
          <h3>{{item.reknown}}</h3>
        </div>
      </a>
    </li>
  </ul>  
</section>